/* Media query for small screens */
@media (max-width: 375px) {
    header {
      flex-direction: column;
      align-items: center;
      padding: 45px;
    }
  
    .logo {
      margin-bottom: 10px;
    }
  
    .navbar {
      width: 100%;
      text-align: center;
    }
  
    .navbar ul {
      display: block;
      padding: 0;
    }
  
    .navbar ul li {
      display: block;
      margin: 10px 0;
    }
  
    .navbar ul li a {
      display: block;
      padding: 10px;
      font-size: 16px; /* Adjust font size for readability */
    }
  }